@font-face {
  font-family: 'nunito_sansextralight';
  src: url("./font_nunito_sans_light/nunitosans-extralight-webfont.woff2") format("woff2"), url("./font_nunito_sans_light/nunitosans-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

